extends layout

block content
  h1 Your best friends list
  p Welcome, authenticated user #{name}! Here you can find a list of your best friends for you to search through.
  p Leave the search bar empty to see them all or type a first name. What could be better?
